In [99]:
#importing pandas module
import pandas as pd
#importing the food CSV file
food = pd.read_csv('food_africa.csv',encoding='latin-1')

In [100]:
food

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28
...,...,...,...,...,...,...,...,...,...,...,...,...
60938,181,Zimbabwe,2899,Miscellaneous,5142,Food,1000 tonnes,42.00,46.00,33.00,19.00,16.00
60939,181,Zimbabwe,2899,Miscellaneous,645,Food supply quantity (kg/capita/yr),kg,3.06,3.33,2.35,1.33,1.08
60940,181,Zimbabwe,2899,Miscellaneous,664,Food supply (kcal/capita/day),kcal/capita/day,3.00,4.00,3.00,1.00,1.00
60941,181,Zimbabwe,2899,Miscellaneous,674,Protein supply quantity (g/capita/day),g/capita/day,0.10,0.11,0.08,0.04,0.04
60942,181,Zimbabwe,2899,Miscellaneous,684,Fat supply quantity (g/capita/day),g/capita/day,0.04,0.05,0.03,0.02,0.01

In [101]:
# Question 11

f = food.groupby('Item')['Y2014','Y2017'].sum()

print(f.iloc[[3], [0,1]])

                 Y2014      Y2017
Item
Animal fats  209460.54  269617.53

C:\Users\USERPC~1\AppData\Local\Temp/ipykernel_11056/3442204549.py:3: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  f = food.groupby('Item')['Y2014','Y2017'].sum()

In [102]:
# Question 12

g = food['Y2015'].agg(['mean', 'std'])
print(g.round(3))

mean     135.236
std     1603.404
Name: Y2015, dtype: float64

In [140]:
# Question 13

food = pd.read_csv('food_africa.csv',encoding='latin-1')

h = food['Y2016']

missing_data = h.isnull().sum()

percent_missing = h.isnull().sum() * 100 / len(h)

print(missing_data)

print(round(percent_missing, 2))

1535
2.52

In [104]:
# Question 14

i = food[food.columns[3:]].corr()['Element Code'][:]

print(i.sort_index())

Element Code    1.000000
Y2014           0.024457
Y2015           0.023889
Y2016           0.023444
Y2017           0.024254
Y2018           0.024279
Name: Element Code, dtype: float64

In [105]:
# Question 15
# Which year has the highest sum of import quanty


j = food.groupby('Element')['Y2014', 'Y2015', 'Y2016', 'Y2017', 'Y2018'].sum()
k = j.iloc[[7], [0,1,2,3,4]]
print(k)

                     Y2014      Y2015      Y2016      Y2017      Y2018
Element
Import Quantity  274144.48  267018.46  286582.78  294559.09  287997.09

C:\Users\USERPC~1\AppData\Local\Temp/ipykernel_11056/2000412607.py:5: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  j = food.groupby('Element')['Y2014', 'Y2015', 'Y2016', 'Y2017', 'Y2018'].sum()

In [106]:
#  Question 16
# Which is the total number of the sum of Production in 2014?

j = food.groupby(['Element'])['Y2014'].sum()
k = j.loc['Production']
print(k)

1931287.75

In [139]:
#  Question 17
# Which of these elements had the highest sum in 2018?

#Ans = Domestic supply quantity = 2161192.10

j = food.groupby(['Element'])['Y2018'].sum()
k = j.sort_values(ascending=False)
print(k)

Element
Domestic supply quantity                  2161192.10
Production                                2075072.89
Food                                      1303841.28
Total Population - Both sexes             1140605.00
Food supply (kcal/capita/day)              455261.00
Processing                                 308429.00
Import Quantity                            287997.09
Feed                                       233489.68
Export Quantity                            181594.80
Losses                                     163902.00
Other uses (non-food)                       91300.97
Food supply quantity (kg/capita/yr)         49056.85
Residuals                                   34864.00
Seed                                        25263.14
Stock Variation                             20577.91
Protein supply quantity (g/capita/day)      11833.56
Fat supply quantity (g/capita/day)          10258.69
Tourist consumption                            90.00
Name: Y2018, dtype: float64

In [137]:
#  Question 18
# Which of these elements had the 3rd lowest sum in 2018?

#Ans = Protein supply quantity (g/capita/day) = 11833.56

j = food.groupby(['Element'])['Y2018'].sum()
k = j.nsmallest(3).sort_values(ascending=True)
print(k)

Element
Tourist consumption                          90.00
Fat supply quantity (g/capita/day)        10258.69
Protein supply quantity (g/capita/day)    11833.56
Name: Y2018, dtype: float64

In [138]:
#  Question 19
# What is the total Import Quantity in Algeria in 2018?

#Ans = Could only see Export Quantity = 811.54


j = food.groupby(['Area', 'Element'])[['Y2018']].sum()
print(j)

                                                    Y2018
Area     Element
Algeria  Domestic supply quantity                90023.42
         Export Quantity                           811.54
         Fat supply quantity (g/capita/day)        309.09
         Feed                                    10668.00
         Food                                    63736.33
...                                                   ...
Zimbabwe Protein supply quantity (g/capita/day)    176.57
         Residuals                                -546.00
         Seed                                      140.00
         Stock Variation                          -447.00
         Total Population - Both sexes           14439.00

[803 rows x 1 columns]

In [110]:
#  Question 20
# What is the total number of unique countries in the dataset?

#Ans = 49

food.groupby('Area').nunique().count()

Area Code       49
Item Code       49
Item            49
Element Code    49
Element         49
Unit            49
Y2014           49
Y2015           49
Y2016           49
Y2017           49
Y2018           49
dtype: int64